#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: left;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f0f2f5;
}

.loading-spinner {
  text-align: center;
  padding: 50px;
  color: #666;
}

.error-message {
  color: red;
  text-align: center;
  padding: 20px;
}